/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.container {
    padding: 0 10px;
}



/* main-vw */

.main-vw {
    height: calc(100vh - 100px);
    display: flex;
    background-color: rgb(20, 25, 34);
}

/* footer */
/* nav bar */
.nav-bar {
    height: 100px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* bar left */
.bar-left {
    display: flex;
    align-items: center;
}

.audio-img {
    width: 80px;
    height: 80px;
}

.stones {
    width: 100%;
    object-fit: cover;
}
.audio-info > a {
    color:  rgb(122, 122, 122);
    text-decoration: none;
}
.audio-info > a:hover {
    color:  white;
    text-decoration: none;
}

.bar-left>* {
    padding: 10px;
}

.song-bar {
    width: 200px;
    height: 2px;
    background-color: lightgrey;
    display: flex;
    padding: 0;
    margin: 0;
}

.audio-bar {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bar-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-buttons>* {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.volume-bar {
    width: 100px;
    height: 2px;
    background-color: lightgrey;
}

.bar-right {
    display: flex;
    align-items: center;
}

.right-sign>* {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.listened-song {
    width: 70px;
    height: 2px;
    background-color: white;
    position: relative;

}

.time-start,
.time-stop {
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

.audio-info>h5 {
    color: white;
}

.listened-song:hover {
    background-color: green;
}

.listened-song:hover::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.audio-info>h6:hover {
    color: white;
    text-decoration: underline;
}

.audio-folder:hover {
    color: white;
}

.audio-buttons i:nth-child(3):hover {
    font-size: 3em;
}

.audio-folder > * {
    color: rgb(122, 122, 122);
}
.audio-info > h6 {
    color:  rgb(122, 122, 122) ;
    
}



/* section top */



.spoty-right {
    width: calc(100% - 200px);
    overflow-y: auto;

}

/* head */

.head {
    height: 70px;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
    position: sticky;
    top: 0;
    position: sticky;
    z-index: 1;
    

}
.upgrade {
    color: white;
    background-color:rgb(20, 25, 34) ;
    border-color: white;
    border-radius: 15px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.upgrade-container {
    padding: 15px 15px; 
    border-color: white;
    display: inline-block; 
}

.upgrade:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}




/* navigation bar */

.main-nav-bar{
    margin-bottom: 20px;
}
.main-nav-bar > nav ul {
    display: flex;
    justify-content: center;
}

.main-nav-bar>nav ul li {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-nav-bar>nav ul li a {
    text-decoration: none;
    color:  rgb(122, 122, 122) ;
}
.main-nav-bar > nav ul li a:hover {
    text-decoration: none;
    color:  white;
}


/* recently played */


.played {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.card {
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.movie {
    max-width: 100%;
    object-fit: contain;
}

.special-movie {
    position: relative;
    display: inline-block;
    margin-bottom: 15px
}
.special-movie > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.special-movie:hover > i{
    
    opacity: 1; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0); 
    transition: opacity 0.3s ease; 
}
.overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: opacity 0.3s ease; 
}




.container > p {
    margin-bottom: 15px;
    color:  rgb(122, 122, 122) ;
    
}
.info {
    text-align: center;
    color: white;
}
.info > p {
    
    color:  rgb(122, 122, 122) ;
}

.container > h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

/* spoty-left */
.spotify-left {
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.left-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}
.left-top, .left-bottom {
    flex-shrink: 0; 
}

.logo {
    height: 70px;
    width: 100px;
    padding-top: 15px;
}

.logo-spoty {
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.logo-small {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}
.left-centre {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.left-special {
    color: white;
    padding: 20px;

}
.left-special > .fa-li i {
    color: white;
    padding: 10px;
    
}
.fa-ul > li  {
    
    margin-bottom: 10px;
}
.fa-ul > li a  {
    
    color: rgb(122, 122, 122) ;
    text-decoration: none;
}

.fa-ul > li a:hover  {
    
    color: white ;
    text-decoration: none;
}
.crea > h4 {
    color: white;
    padding: 15px
}

.crea-playlist {
    color:  rgb(122, 122, 122) ;
    display: flex;
    padding-left: 15px;
}


.last-list {
    display: flex;
    color: white;
    padding-left: 15px;
    list-style-type: none;
    flex-grow: 1;
    overflow: hidden;

}
.last-list > ul li {
    
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    

}
.last-list > ul li a {
    
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color:  rgb(122, 122, 122) ;
    

}
.last-list > ul li a:hover {
    
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;

}
.last-list > ul {
    flex: 1;
    overflow: auto;


}

.left-user > i,
.left-user > a,
.left-user > h4 {
    display: inline-block;
}
.left-user > hr {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    margin-left: 20px;
}
.left-user {
    padding-left: 15px;
    margin-bottom: 10px;
}
.left-user > h4 {
    color: rgb(122, 122, 122) ;
    
}
.left-user > a {
    color: rgb(122, 122, 122) ;
    text-decoration: none;
}

.left-user > i {
    color: rgb(122, 122, 122) ;
    
}
.left-user:hover a{
    color: white;
    text-decoration: none;
}
.left-user:hover a,
.left-user:hover i:first-of-type {
    color: white;
    text-decoration: none;
}


.add-playlist {
    display: flex;
    align-items: center;
}
.add-playlist > a {
    margin-left: 5px;
    color: rgb(122, 122, 122)  ;
    text-decoration: none;
}
.add-playlist > button {
    color: rgb(122, 122, 122) ;
}
.add-playlist > a:hover {
    margin-left: 5px;
    color:white  ;
    text-decoration: none;
}



