/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.container {
    padding: 0 10px;
}



/* main-vw */

.main-vw {
    height: calc(100vh - 100px);
    display: flex;
}


/* nav bar */
.nav-bar {
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* bar left */
.bar-left {
    display: flex;
    align-items: center;
}

.audio-img {
    width: 80px;
    height: 80px;
}

.stones {
    width: 100%;
    object-fit: cover;
}

.bar-left>* {
    padding: 10px;
}

.song-bar {
    width: 200px;
    height: 2px;
    background-color: lightgrey;
    display: flex;
    padding: 0;
    margin: 0;
}

.audio-bar {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bar-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-buttons>* {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.volume-bar {
    width: 100px;
    height: 2px;
    background-color: lightgrey;
}

.bar-right {
    display: flex;
    align-items: center;
}

.right-sign>* {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.listened-song {
    width: 70px;
    height: 2px;
    background-color: white;
    position: relative;

}

.time-start,
.time-stop {
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

.audio-info>h5 {
    color: white;
}

.listened-song:hover {
    background-color: green;
}

.listened-song:hover::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.audio-info>h6:hover {
    color: white;
    text-decoration: underline;
}

.audio-folder:hover {
    color: white;
}

.audio-buttons i:nth-child(3):hover {
    font-size: 3em;
}



/* section top */

.spotify-left {
    width: 200px;
    height: 100%;
    background-color: black;
}

.spoty-right {
    width: calc(100% - 200px);
    overflow-y: auto;

}

/* head */

.head {
    height: 70px;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
    position: sticky;
    top: 0;
    padding: 25px;

}

.logo {
    height: 70px;
    width: 100px;
}

.logo-spoty {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


/* navigation bar */

.main-nav-bar{
    margin-bottom: 20px;
}
.main-nav-bar > nav ul {
    display: flex;
    justify-content: center;
}

.main-nav-bar>nav ul li {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-nav-bar>nav ul li a {
    text-decoration: none;
}


/* recently played */


.played {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.card {
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.movie {
    max-width: 100%;
    object-fit: contain;
}

.container > p {
    margin-bottom: 15px;
    
}
.info {
    text-align: center;
}

.container > h2 {
    margin-top: 15px;
}

/* spoty-left */

.left-special {
    color: white;
    padding: 20px;

}
.left-special > .fa-li i {
    color: white;
    padding: 10px;
    
}
.fa-ul > li  {
    
    margin-bottom: 10px;
}
.crea > h4 {
    color: white;
    padding: 15px
}

.crea-playlist > * {
    color: white;
    display: inline-block;
}
.plus {
    padding-left: 15px;
}
.last-list {
    color: white;
    padding-left: 15px;
    list-style-type: none;

}
.last-list > ul li {
    
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;

}



